<header class="header">
    <div class="header__wrap">
        <div class="container">

            {{#if user}}
                <div class="header__welcome" style="font-size: 12px; color: #ffffff; text-align: right; margin-top: 5px;">
                    Xin chào, {{user.name}}!
                </div>
            {{/if}}

            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="/" class="header__logo">
                            <img src="img/logo.svg" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="dropdown-toggle header__nav-link" href="/" role="button" id="dropdownMenuHome">Home</a>


                            </li>
                            <!-- end dropdown -->

                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="dropdown-toggle header__nav-link" href="/details2" role="button" id="dropdownMenuCatalog">Catalog</a>

                            </li>
                            <!-- end dropdown -->

                            <li class="header__nav-item">
                                <a href="/pricing" class="header__nav-link">Pricing Plan</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="/about" class="header__nav-link">About</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="/test" class="header__nav-link">Test</a>
                            </li>

                            <!-- dropdown -->

                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth" style="display:flex; align-items:center; gap:20px;">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                            {{#if user}}
                                <a href="/logout" class="header__sign-in" style="padding: 8px 18px;">
                                    <i class="icon ion-ios-log-out"></i>
                                    <div class="header__sign-chu">Logout</div>
                                </a>
                            {{else}}
                                <a href="/signin" class="header__sign-in">
                                    <i class="icon ion-ios-log-in"></i>
                                    <div class="header__sign-chu">Sign in</div>
                                </a>
                            {{/if}}
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header search -->
    <form action="#" class="header__search">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" placeholder="Search for a movie, TV Series that you are looking for">

                        <button type="button">search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>