<div class="container mt-4">
    <h2 class="text-center mb-4">Danh sách test</h2>

    <table class="table table-striped table-hover text-center align-middle">
        <thead class="table-grey">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên phim</th>
            <th scope="col">Thể loại</th>
            <th scope="col">Số tập</th>
            <th scope="col">Lượt xem</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dream in Another Language</td>
            <td>Hành động</td>
            <td>1</td>
            <td>1,120</td>
            <td>
                <button class="btn btn-sm btn-outline-primary">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Benched</td>
            <td>Hành động, Hài</td>
            <td>12</td>
            <td>2,405</td>
            <td>
                <button class="btn btn-sm btn-outline-primary">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Whitney</td>
            <td>Tình cảm</td>
            <td>17</td>
            <td>8,514</td>
            <td>
                <button class="btn btn-sm btn-outline-primary">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Blindspotting</td>
            <td>Hài hước, Học đường</td>
            <td>12</td>
            <td>10,222</td>
            <td>
                <button class="btn btn-sm btn-outline-primary">Edit</button>
                <button class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
